@import url('https://fonts.googleapis.com/css2?family=Cabin+Condensed:wght@500&family=Quicksand&display=swap');

/* html {
  scroll-behavior: smooth;
} */

*{
  font-family: Quicksand;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden !important;
}

header {
  background: url(../img/header.png);
}

/* MENU */

header .menu-fijo {
  position: fixed;
  z-index: 50;
  width: 100%;
  top: 0;
}

.navbar-collapse {
  justify-content: space-around;
}


.navbar-nav a {
  font-size: 19px;
}

.navbar-light .navbar-brand {
  font-family: Cabin Condensed;
  color: #202020;
  font-size: 21px;
  letter-spacing: 2px;
}

.navbar-light .navbar-brand:hover {
  color: rgb(20 152 229 / 84%);
}

.navbar-light .navbar-nav .active > .nav-link {
  font-family: Cabin Condensed;
  letter-spacing: 2px;
  color: #202020;
}

.navbar-light .navbar-nav .active > .nav-link:hover {
  color: rgb(20 152 229 / 84%);;
}

.navbar-light .navbar-nav .nav-link {
  font-family: Cabin Condensed;
  letter-spacing: 2px;
  color: #202020;
}

.navbar-light .navbar-nav .nav-link:hover {
  color: rgb(20 152 229 / 84%);;
}

@media screen and (max-width: 640px) and (min-width: 360px) {
  .navbar .container {
    width: 360px;
  }
  header .menu-fijo {
    width: 360px;
  }
}

/* INICIO */
.seccionuno {
  position: relative;
  margin: 0 auto;
  padding: 94px 0px 0px;
}

.seccionuno .row {
  width: 100%;
  position: relative;
  margin: 0 auto;
}

.seccionuno .col-md-6 img {
  max-width: 58%;
  margin: 0px 50px;
  padding: 5px 20px;
  transition: 0.3s ease;
}

.seccionuno .col-md-6 p {
  text-align: justify;
  padding: 0px 10px;
  margin: 0 auto;
}

.seccionuno .col-md-6 h3 {
  font-family: Cabin Condensed;
  letter-spacing: 3px;
  padding: 48px 10px 0px;
  font-size: 21px;
  margin: 0 auto;
}

.seccionuno .col-md-6 h4 {
  font-family: Cabin Condensed;
  letter-spacing: 3px;
  padding: 0px 66px;
  font-size: 21px;
  color: #585858;
  margin: 0 auto;
}

.seccionuno .col-md-6 h5 {
  font-family: Cabin Condensed;
  letter-spacing: 2px;
  color: #757575;
  padding: 0px 10px;
  font-size: 21px;
  margin: 0 auto;
}

.seccionuno .col-md-6 h2 {
  letter-spacing: 0px;
  padding: 8px 86px;
  font-size: 32px;
  color: rgb(20 152 229 / 84%);
  margin: 0 auto;
}

@media screen and (max-width: 1024px) and (min-width: 768px) {
  .seccionuno .col-md-6 img {
    max-width: 90%;
    margin: 0 auto;
    padding: 0px 10px;
  }
  .seccionuno h1 {
    margin: 0 auto;
    padding: 30px 10px;
  }
  .seccionuno .col-md-6 h3 {
    font-size: 16px;
  }
}

@media screen and (max-width: 640px) and (min-width: 360px) {
  .seccionuno .col-md-6 img {
    max-width: 90%;
    margin: 0 auto;
    padding: 0px 10px;
  }
  .seccionuno h1 {
    margin: 0 auto;
    padding: 30px 10px;
  }
  .seccionuno .col-md-6 h3 {
    font-size: 15px;
  }
}

/* SENASOFT */

#senasoft {
  width: 100%;
  background: url(../img/senasoft.png);
  position: relative;
}

#senasoft h3{
  font-family: Cabin Condensed;
  font-size: 22px;
  letter-spacing: 2px;
  margin-top: 0 auto;
  padding: 34px 10px 0px;
  text-align: justify;
}

#senasoft .col-lg-6 p{
  text-align: justify;
  padding: 0px 10px;
  margin: 0 auto;
}

#senasoft .col-lg-6 h4{
  font-size: 21px;
  text-align: justify;
  padding: 0px 10px;
  margin: 0 auto;
}

#senasoft .col-lg-6 h5{
  font-family: Cabin Condensed;
  font-size: 21px;
  letter-spacing: 2px;
  text-align: justify;
  padding: 0px 10px;
  margin: 0 auto;
}

#senasoft .col-lg-6.spark {
  display: flex;
  justify-content: space-between;
}

#senasoft .card-item-insta{
  width: 180px;
  max-width: 100%;
  position: relative;
  border-radius: 0px 0px 20px 20px;
  text-align: center;
  margin: 0 auto;
  padding-bottom: 10px;
  box-shadow: 0px 0px 2px 1px #a0a0a0;
  margin-bottom: 20px;
  transition: .3s;
  cursor: pointer;
}

#senasoft .card-item-insta:hover{
  box-shadow: 0px 0px 5px 2px #a0a0a0;
}

#senasoft .card-item-insta video{
  width: 100%;
}

#senasoft .card-item-insta .boton-pitch{
  position: absolute;
  top: 94px;
  left: 56px;
}

#senasoft .card-item-insta .boton-app{
  position: absolute;
  top: 178px;
  left: 56px;
}

#senasoft .card-item-insta button{
  width: 68px;
  height: 64px;
}

#senasoft .card-item-insta p{
  padding: 7px;
  text-align: center;
}

#senasoft .card-item-insta h6{
  font-size: 18px;
  letter-spacing: 2px;
  padding: 7px;
  text-align: center;
}

/* FOOTER PAGE */

#fopage{
  width: 100%;
  background: url(../img/senasoft.png);
}

#fopage .container-fluid{
  width: 100%;
  padding-left: 0px;
  padding-right: 0px;
}

#fopage .col-lg-12.logos{
  width: 100%;
  padding-left: 0px;
  padding-right: 0px;
}

#fopage .col-lg-12.logos img{
  width: 100%;
  padding-left: 0px;
  padding-right: 0px;
  position: relative;
}

/* ESTUDIOS */
#seccion-slick3 {
  width: 100%;
  background: url(../img/seccion-dos.png);
  position: relative;
  padding: 7px 0px 22px;
}

#seccion-slick3 h2 {
  font-family: Cabin Condensed;
  letter-spacing: 2px;
  font-size: 21px;
  text-align: center;
  margin: 24px 0px 28px;
  color: #ffffff;
}

.carousel-estudios .item-estudio {
  width: 278px;
  max-width: 100%;
  border-radius: 0px;
  cursor: pointer;
  transition: 0.3s ease;
  margin: 0 auto;
  text-align: center;
  padding: 12px 24px;
}

.carousel-estudios .item-estudio:hover{
  transform: scale(1.1);
}
  

.carousel-estudios .item-estudio img {
  width: 80%;
  position: relative;
  margin: 0 auto;
}

.carousel-estudios .item-estudio h3 {
  font-family: Cabin Condensed;
  letter-spacing: 1px;
  color: #000000;
  font-size: 14px;
  text-align: center;
}

.carousel-control-next, .carousel-control-prev {
  width: 4%;

}.carousel-control-next{
  color: rgb(11 131 255 / 78%);
  margin: 0 auto;
}

.carousel-control-prev{
  color: rgb(11 131 255 / 78%);
  margin: 0 auto;
}

/* EXPERRIENCIA */
#experiencia {
  background: url(../img/seccion-tres.png);
}

.secciontres {
  max-width: 100%;
  position: relative;
  margin: 0 auto;
  padding: 60px 0px 70px;
}

.secciontres h2 {
  font-family: Cabin Condensed;
  letter-spacing: 2px;
  font-size: 21px;
  text-align: center;
  margin-bottom: 50px;
  color: #ffffff;
}

.secciontres .row {
  width: 100%;
  position: relative;
  margin: 0 auto;
  color: #ffffff;
}

.secciontres .col-md-6 img {
  max-width: 100%;
  margin: 0 auto;
  margin-top: 7px;
  padding: 0px 20px;
}

.carousel-control-next {
  margin: 35px;
}

.carousel-control-prev {
  margin: 35px;
}

.secciontres .row .col-md-6 h3 {
  font-family: Cabin Condensed;
  color: #242424;
  letter-spacing: 3px;
  font-size: 22px;
  margin-top: 40px;
  padding: 0px 20px 25px;
}

.secciontres .row .col-md-6 h4 {
  font-family: Cabin Condensed;
  letter-spacing: 1px;
  color: #242424;
  font-size: 21px;
  padding: 0px 20px 7px;
}

.secciontres .row .col-md-6 .carousel h5 {
  font-family: Cabin Condensed;
  letter-spacing: 1px;
  color: #ffffff;
  font-size: 21px;
  padding: 0px 20px 7px;
}

.secciontres .row .col-md-6 h6 {
  font-family: Cabin Condensed;
  letter-spacing: 1px;
  color: #242424;
  font-size: 16px;
  padding: 0px 20px 7px;
}

.secciontres .row .col-md-6 .carousel p {
  text-align: justify;
  color: #ffffff;
  padding: 0px 20px 15px;
}

.secciontres .row .col-md-6 p {
  text-align: justify;
  color: #000000;
  padding: 0px 20px 15px;
}

@media screen and (max-width: 1024px) and (min-width: 768px) {
  .secciontres h2 {
    margin-left: 390px;
  }
  .secciontres {
    padding-bottom: 20px;
  }
}

@media screen and (max-width: 640px) and (min-width: 360px) {
  .secciontres .row {
    color: #202020;
  }
  .secciontres h2 {
    color: #202020;
  }
  .secciontres {
    padding-bottom: 20px;
  }
}

/* GALERIA */
#galeria {
  width: 100%;
  background: url(../img/seccion-cuatro.png);
  position: relative;
  padding: 55px 0px 70px;
}

#galeria h2 {
  font-family: Cabin Condensed;
  letter-spacing: 2px;
  font-size: 21px;
  text-align: right;
  margin: 23px 190px;
  color: #ffffff;
}

#galeria .row {
  width: 100%;
  position: relative;
  margin: 0 auto;
}

#galeria .col-lg-3 {
  margin: 0 auto;
  padding: 7px 18px;
}

#galeria img,
.modal img {
  max-width: 100%;
  cursor: pointer;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.modal .modal-dialog {
  max-width: 900px !important;
}

.modal-body {
  background-color: rgb(12 12 12 / 91%);
}

.modal-content {
  border-style: none;
  background-color: rgb(25 202 255 / 16%);
}

.modal h2 {
  font-family: Cabin Condensed;
  font-size: 18px;
  letter-spacing: 1px;
  color: #ffffff;
  text-align: center;
  margin: 20px 0px;
}

#galeria img {
  transition: 0.3s ease;
}

#galeria img:hover {
  transform: scale(1.1);
}

@media screen and (max-width: 640px) and (min-width: 360px) {
  #galeria .col-lg-3 {
    margin: 5px;
    padding: 0px;
  }

  .modal-content {
    width: 84%;
    margin: 175px 0px;
    position: absolute;
  }
  .modal-dialog {
    position: relative;
    width: 360px;
    margin: 0 auto;
  }
}

/* AUDIOVISUALES */
#seccion-slick2 {
  width: 100%;
  background: rgb(20 152 229 / 84%);
  position: relative;
  padding: 45px 150px 36px;
}

#seccion-slick2 h2 {
  font-family: Cabin Condensed;
  letter-spacing: 2px;
  font-size: 21px;
  text-align: center;
  margin-bottom: 40px;
  color: #ffffff;
}

.carousel-audiovisuales .item-audiovi {
  width: 100%;
  padding: 10px;
  margin: 0 auto;
}

.carousel-audiovisuales .item-audiovi iframe {
  max-width: 100%;
  cursor: pointer;
  background-color: #000000;
  position: relative;
  transition: 0.3s ease;
  display: block;
  margin: auto;
}

.carousel-audiovisuales .item-audiovi iframe:hover {
  transform: scale(1.1);
}

.carousel-audiovisuales .item-audiovi video {
  max-width: 100%;
  cursor: pointer;
  background-color: #000000;
  position: relative;
  transition: 0.3s ease;
  display: block;
  margin: auto;
}

.carousel-audiovisuales .item-audiovi video:hover {
  transform: scale(1.1);
}

.carousel-audiovisuales .item-audiovi img {
  max-width: 80%;
  cursor: pointer;
  transition: 0.3s ease;
  margin: auto;
  display: block;
}

.carousel-audiovisuales .item-audiovi img:hover {
  transform: scale(1.1);
}

@media screen and (max-width: 640px) and (min-width: 360px) {
  #seccion-slick2 {
    width: 100%;
    background: #0c0c0c;
    position: relative;
    padding: 50px 20px 20px;
  }
}

/* HABILIDADES */
#seccion-slick {
  width: 100%;
  background: #000000;
  position: relative;
  padding: 40px 150px 70px;
}

#seccion-slick h2 {
  font-family: Cabin Condensed;
  letter-spacing: 2px;
  font-size: 21px;
  text-align: center;
  margin-bottom: 15px;
  color: #ffffff;
}

.carousel-software .item-progra {
  width: 100%;
  padding: 10px;
  margin: 0 auto;
}

.carousel-software .item-progra img {
  max-width: 100%;
  border-width: 0px;
}

#seccion-slick .porcentajes {
  display: flex;
  justify-content: center;
}

#seccion-slick .cuadrado-item {
  width: 20px;
  height: 24px;
  background-color: #ffffff;
  display: inline-block;
  margin: 0px 4px;
  position: relative;
}

#seccion-slick .porcentajes .cuadrado-item h3 {
  font-family: Cabin Condensed;
  position: absolute;
  top: 2px;
  left: 5px;
  font-size: 18px;
  color: #000000;
}

.slick-dots li button:before {
  font-size: 9px;
  color: #007bff;
  opacity: 75%;
}

.slick-dots li.slick-active button:before {
  color: #ffffff;
  opacity: 100%;
}

@media screen and (max-width: 640px) and (min-width: 360px) {
  #seccion-slick {
    width: 100%;
    background: #0c0c0c;
    position: relative;
    padding: 50px 20px 20px;
  }
  .carousel-software .item-progra img {
    max-width: 100%;
    padding: 2px;
  }
}

/* CONTACTO */
#contacto {
  background: url(../img/footer.png);
  width: 100%;
  position: relative;
  padding: 70px 0px 50px;
}

#contacto .container {
  width: 1140px;
  max-width: 100%;
  margin: 0 auto;
}

#contacto .container .row .col-md-8 P{
  color: #000000;
  padding: 10px 0px;
  margin-top: 10px;
}

#contacto .container .row .col-md-8 h4{
  font-family: Cabin Condensed;
  letter-spacing: 2px;
  font-size: 21px;
  color: #242424;
}

#contacto .container .row .col-md-4 h4{
  font-family: Cabin Condensed;
  letter-spacing: 2px;
  font-size: 21px;
  margin-left: 6px;
  color: #242424;
}

#contacto .container .row .col-md-4 h6{
  font-family: Cabin Condensed;
  letter-spacing: 2px;
  font-size: 17px;
  display: inline-block;
  color: #000000;
  padding: 0px 12px 0px 6px;
}

#contacto .col-md-4 .btn a{
  font-family: Cabin Condensed;
  font-size: 17px;
  color: #ffffff;
}

#contacto .col-md-4 .btn{
  display: inline-block;
  padding: 3px 19px;
  border-radius: 8px;
  margin: -89px 24px 0px;
}

#contacto .col-md-4 .btn:hover{
  background-color: #000000;
}

#contacto .container .row .col-md-4 img{
  margin: 16px 0px 0px;
}

@media screen and (max-width: 1024px) and (min-width: 768px) {
  #contacto {
    padding: 30px 0px;
  }
  #contacto .container .row .col-md-4 p {
    padding: 15px 0px;
  }
}

@media screen and (max-width: 640px) and (min-width: 360px) {
  #contacto {
    padding: 30px 0px 50px;
  }

  #contacto p {
    text-align: center;
  }

  #contacto .container .row .col-md-4 p {
    padding: 15px 0px;
  }
}

/* REDES SOCIALES */
/* WHATSAPP */

.whatsapp img {
  max-width: 68%;
}

.whatsapp {
  width: 68px;
  height: 68px;
  position: fixed;
  right: 50px;
  bottom: 93px;
}

.redwha .btn{
  border-style: none;
  width: 48px;
  height: 48px;
  position: fixed;
  right: 62px;
  bottom: 114px;
  border-radius: 40px;
}

.redwha .btn:hover{
  background-color: #000000;
}

@media screen and (max-width: 1024px) and (min-width: 768px) {
  .whatsapp {
    position: relative;
    width: 68px;
    height: 68px;
    left: 90%;
    bottom: 80px;
  }

  .whatsapp img {
    max-width: 8%;
  }
}

@media screen and (max-width: 640px) and (min-width: 360px) {
  .redsocial {
    display: flex;
    justify-content: center;
  }
  .whatsapp {
    position: relative;
    display: inline-block;
    width: 68px;
    height: 68px;
    bottom: 55px;
  }

  .whatsapp img {
    max-width: 50%;
    display: block;
    margin: auto;
  }
}

.whatsapp img {
  max-width: 68%;
}


/* LINKEDIN */

.linkedin img {
  max-width: 68%;
}

.linkedin {
  width: 68px;
  height: 68px;
  position: fixed;
  right: 50px;
  bottom: 17px;
}

.redin .btn{
  border-style: none;
  width: 48px;
  height: 48px;
  position: fixed;
  right: 62px;
  bottom: 38px;
  border-radius: 40px;
}

.redin .btn:hover{
  background-color: #000000;
}