/* html {
  scroll-behavior: smooth;
} */

header {
  background: url(../img/header.png);
}

header .menu-fijo {
  position: fixed;
  z-index: 50;
  width: 100%;
  top: 0;
}

.navbar-collapse {
  justify-content: flex-end;
}

/* MENU */
.navbar-nav a {
  font-size: 16.5px;
  text-transform: uppercase;
  font-weight: bold;
}

.navbar-light .navbar-brand {
  color: #202020;
  font-size: 21px;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 2px;
}

.navbar-light .navbar-brand:hover {
  color: #007bff;
}

.navbar-light .navbar-nav .active > .nav-link {
  color: #202020;
}

.navbar-light .navbar-nav .active > .nav-link:hover {
  color: #007bff;
}

.navbar-light .navbar-nav .nav-link {
  color: #202020;
}

.navbar-light .navbar-nav .nav-link:hover {
  color: #007bff;
}

@media screen and (max-width: 500px) and (min-width: 320px) {
  .navbar-nav .container {
    display: flex;
    justify-content: center;
  }
}

/* INICIO */
.seccionuno {
  position: relative;
  margin: 0 auto;
  padding: 125px 0px 45px 0px;
}

.seccionuno h1 {
  font-size: 23px;
  padding: 40px 0px 2px 60px;
  margin: 0 auto;
}

.seccionuno .row {
  width: 100%;
  position: relative;
  margin: 0 auto;
}

.seccionuno .col-md-6 img {
  max-width: 58%;
  margin: 0px 50px;
  padding: 5px 20px;
}

.seccionuno .col-md-6 p {
  padding: 0px 10px;
  margin: 0 auto;
}

.seccionuno .col-md-6 h3 {
  padding: 0px 10px;
  font-size: 23px;
  margin: 0 auto;
}

.seccionuno .col-md-6 h4 {
  padding: 0px 10px;
  font-size: 23px;
  margin: 0 auto;
}

.seccionuno .col-md-6 h2 {
  padding: 0px 10px;
  font-size: 45px;
  color: #b4b4b4;
  margin: 0 auto;
}

@media screen and (max-width: 1024px) and (min-width: 500px) {
  .seccionuno .col-md-6 img {
    max-width: 90%;
    margin: 0 auto;
    padding: 0px 10px;
  }
  .seccionuno h1 {
    margin: 0 auto;
    padding: 30px 10px;
  }
  .seccionuno .col-md-6 h3 {
    font-size: 16px;
  }
}

@media screen and (max-width: 500px) and (min-width: 320px) {
  .seccionuno .container {
    width: 100%;
  }
  .seccionuno .col-md-6 img {
    max-width: 90%;
    margin: 0 auto;
    padding: 0px 10px;
  }
  .seccionuno h1 {
    margin: 0 auto;
    padding: 30px 10px;
  }
  .seccionuno .col-md-6 h3 {
    font-size: 15px;
  }
}

/* ESTUDIOS */
#estudios {
  width: 100%;
  background: #0c0c0c;
  position: relative;
  padding: 62px 0px 62px;
}

#estudios .row {
  display: flex;
  margin: 0 auto;
}

#estudios .card-item-colvipe {
  width: 300px;
  max-width: 100%;
  border-radius: 0px;
  border-bottom: 1px solid #ffffff;
  margin: 0 auto;
  margin-bottom: 20px;
  text-align: center;
  padding: 10px 0px 20px;
}

/* #estudios .card-item-colvipe:hover {
  box-shadow: 0px 0px 2px 1px #0c0c0c;
} */

#estudios .card-item-colvipe img {
  width: 100%;
}

#estudios .card-item-colvipe h3 {
  color: #b4b4b4;
  font-size: 15px;
  padding: 10px 40px;
}

/* #estudios .card-item-colvipe button {
  border-radius: 15px;
  width: 58%;
  padding: 3px;
  color: #007bff;
  margin-bottom: 10px;
}

#estudios .card-item-colvipe button:hover {
  color: #ffffff;
  background: #161616;
  border-style: none;
} */

/* EXPERRIENCIA */
#experiencia {
  background: url(../img/seccion-tres.png);
}

.secciontres {
  max-width: 100%;
  position: relative;
  margin: 0 auto;
  padding: 60px 0px 70px;
}

.secciontres h2 {
  font-size: 23px;
  text-align: center;
  margin-bottom: 50px;
  color: #ffffff;
}

.secciontres .row {
  width: 100%;
  position: relative;
  margin: 0 auto;
  color: #ffffff;
}

.secciontres .col-md-6 img {
  max-width: 100%;
  margin: 0 auto;
  margin-top: 7px;
  padding: 0px 20px;
}

.carousel-control-next {
  margin: 35px;
}

.carousel-control-prev {
  margin: 35px;
}

.secciontres .row .col-md-6 h3 {
  font-size: 21px;
  margin-top: 40px;
  padding: 0px 20px 25px;
}

.secciontres .row .col-md-6 h4 {
  font-size: 23px;
  padding: 0px 20px 7px;
}

.secciontres .row .col-md-6 p {
  padding: 0px 20px 15px;
}

@media screen and (max-width: 1024px) and (min-width: 500px) {
  .secciontres h2 {
    margin-left: 390px;
  }
  .secciontres {
    padding-bottom: 20px;
  }
}

@media screen and (max-width: 500px) and (min-width: 320px) {
  .secciontres .row {
    color: #202020;
  }
  .secciontres h2 {
    color: #202020;
  }
  .secciontres {
    padding-bottom: 20px;
  }
}

/* GALERIA */
#galeria {
  width: 100%;
  background: #161616;
  position: relative;
  padding: 55px 0px 70px;
}

#galeria .row {
  width: 100%;
  position: relative;
  margin: 0 auto;
}

#galeria .col-lg-3 {
  margin: 0 auto;
  padding: 18px;
}

#galeria img,
.modal img {
  max-width: 100%;
  cursor: pointer;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.modal .modal-dialog {
  max-width: 900px !important;
}

.modal-body {
  background-color: #f1f1f1;
  padding: 12px 9px 0px 9px;
}

.modal h2 {
  font-size: 26px;
  color: #7c7c7c;
  text-align: center;
  margin: 20px 0px;
}

#galeria img:hover {
  border: 1.3px solid #161616;
  opacity: 83%;
  transition: 20ms;
}

#galeria h2 {
  text-align: center;
  font-size: 23px;
  margin-bottom: 50px;
  color: #ffffff;
}

/* AUDIOVISUALES */
#seccion-slick2 {
  width: 100%;
  background: #202020;
  position: relative;
  padding: 50px 150px 70px;
}

#seccion-slick2 h2 {
  text-align: center;
  font-size: 23px;
  margin-bottom: 15px;
  color: #ffffff;
}

.carousel-audiovisuales .item-audiovi {
  width: 100%;
  padding: 10px;
  margin: 0 auto;
}

.carousel-audiovisuales .item-audiovi iframe {
  max-width: 100%;
  border-width: 0px;
}

.carousel-audiovisuales .item-audiovi img {
  max-width: 87.5%;
  border-width: 0px;
  padding-bottom: 20px;
  margin: 0 auto;
}

@media screen and (max-width: 500px) and (min-width: 320px) {
  #seccion-slick2 {
    width: 100%;
    background: #0c0c0c;
    position: relative;
    padding: 50px 20px 20px;
  }
}

/* HABILIDADES */
#seccion-slick {
  width: 100%;
  background: #0c0c0c;
  position: relative;
  padding: 50px 150px 70px;
}

#seccion-slick h2 {
  text-align: center;
  font-size: 23px;
  margin-bottom: 15px;
  color: #ffffff;
}

.carousel-software .item-progra {
  width: 100%;
  padding: 10px;
  margin: 0 auto;
}

.carousel-software .item-progra img {
  max-width: 100%;
  border-width: 0px;
}

#seccion-slick .porcentajes {
  display: flex;
  justify-content: center;
  margin: 25px 0px;
}

#seccion-slick .cuadrado-item {
  width: 20px;
  height: 24px;
  background-color: #ffffff;
  display: inline-block;
  margin: 0px 4px;
  position: relative;
}

#seccion-slick .porcentajes .cuadrado-item h3 {
  position: absolute;
  top: 2px;
  left: 5px;
  font-size: 18px;
  color: #0c0c0c;
}

.slick-dots li button:before {
  font-size: 9px;
  color: #007bff;
  opacity: 75%;
}

.slick-dots li.slick-active button:before {
  color: #ffffff;
  opacity: 100%;
}

@media screen and (max-width: 500px) and (min-width: 320px) {
  #seccion-slick {
    width: 100%;
    background: #0c0c0c;
    position: relative;
    padding: 50px 20px 20px;
  }
  .carousel-software .item-progra img {
    max-width: 100%;
    padding: 2px;
  }
}

/* CONTACTO */
#contacto {
  background: url(../img/footer.png);
  width: 100%;
  position: relative;
  padding: 100px 0px 30px;
}

#contacto .container {
  width: 1140px;
  max-width: 100%;
  margin: 0 auto;
}

#contacto .container .row .col-md-8 {
  color: #ffffff;
}

#contacto .container .row .col-md-4 {
  color: #ffffff;
}

#contacto .container .row .col-md-4 p {
  padding: 83px 0px 0px 130px;
}

@media screen and (max-width: 1024px) and (min-width: 500px) {
  #contacto {
    padding: 30px 0px;
  }
  #contacto .container .row .col-md-4 p {
    padding: 15px 0px;
  }
}

@media screen and (max-width: 500px) and (min-width: 320px) {
  #contacto {
    padding: 30px 0px 50px;
  }

  #contacto p {
    text-align: center;
  }

  #contacto .container .row .col-md-4 p {
    padding: 15px 0px;
  }
}

/* WHATSAPP */

.whatsapp {
  width: 68px;
  height: 68px;
  position: fixed;
  right: 4px;
  bottom: 70px;
}

.whatsapp img {
  max-width: 68%;
}

@media screen and (max-width: 1024px) and (min-width: 500px) {
  .whatsapp {
    position: relative;
    width: 68px;
    height: 68px;
    left: 90%;
    bottom: 80px;
  }

  .whatsapp img {
    max-width: 8%;
  }
}

@media screen and (max-width: 500px) and (min-width: 320px) {
  .whatsapp {
    position: relative;
    width: 68px;
    height: 68px;
    left: 7%;
    bottom: 55px;
  }

  .whatsapp img {
    max-width: 13%;
  }
}

/* FACEBOOK */
.facebook {
  width: 68px;
  height: 68px;
  position: fixed;
  right: 4px;
  bottom: 15px;
}

.facebook img {
  max-width: 68%;
}

@media screen and (max-width: 1024px) and (min-width: 500px) {
  .facebook {
    position: relative;
    width: 68px;
    height: 68px;
    left: 65%;
    bottom: 80px;
  }

  .facebook img {
    max-width: 8%;
  }
}

@media screen and (max-width: 500px) and (min-width: 320px) {
  .facebook {
    position: relative;
    width: 68px;
    height: 68px;
    left: 10%;
    bottom: 55px;
  }

  .facebook img {
    max-width: 13%;
  }
}
